## shorthands
alias c="clear"
alias e="$EDITOR"
alias sudoedit="sudo $EDITOR"
alias mkdir="mkdir -p"
alias l="ls -lah"
alias g="git"
alias pf="pnpm --filter"
alias yw="yarn workspace"
alias yws="yarn workspaces"

# vscode profiles
alias teach="code --user-data-dir ~/code_profiles/teaching/data --extensions-dir ~/code_profiles/teaching/extensions"

## add GITHUB_TOKEN to current env
alias ght="source ~/.bin/ght"

## replacements
if command_exists hub; then
  alias g="hub"
fi

if command_exists fd; then
  alias find="fd"
fi

if command_exists exa; then
  alias ls="exa"
fi

if command_exists bat; then
  alias cat="bat"
fi

## custom
alias vim="$EDITOR"

alias path='echo $PATH | tr -s ":" "\n"'
alias fpath='echo $FPATH | tr -s ":" "\n"'

alias tf=terraform

# ripgrep
alias rg="rg  --hidden --follow -g '!{.git,node_modules}/*'"
alias rgf="rg --fixed-strings"

# local custom aliases
[[ -f ~/.aliases.local ]] && . ~/.aliases.local
