# Make directory and change into it
function mcd() {
  mkdir -p "$1" && cd "$1"
}

# Test whether command exists
command_exists() {
  type "$1" &> /dev/null;
}

install-default-packages() {
  cat ~/.fnm/default-packages | grep -v '^[[:blank:]]*#|^[[:blank:]]*$' | xargs -L1 npm install -g
}

# Upgrade node to latest version & install packages
upgrade-node() {
  fnm install latest && install-default-packages
}

# Enables virtual webcam for an app by codesigning the app file
enablevirtualwebcam() {
  sudo codesign -f -s - $1
}
