*
!/.aliases
!/.config
!/.config/alacritty
!/.config/alacritty/**
!/.config/starship.toml
!/.config/iterm2
!/.config/iterm2/com.googlecode.iterm2.plist
!/.config/tabtab
!/.config/nvim
!/.config/nvim/**
!/.fnm
!/.fnm/default-packages
!/.functions
!/.gitconfig
!/.gitignore
!/.gitmessage
!/.macos
!/.prettierrc
!/.settings
!/.ssh
!/.ssh/config
!/.tmux.conf
!/.zplugins
!/.zsh
!/.zsh/**
!/.zshrc
!/README.md
!/Brewfile
!/bootstrap.sh
