*
!/.aliases
!/.config
!/.config/iterm2
!/.config/iterm2/*
!/.config/karabiner
!/.config/karabiner/karabiner.json
!/.config/nvim
!/.config/nvim/*.vim
!/.config/nvim/colors
!/.config/nvim/colors/*
!/.config/nvim/settings
!/.config/nvim/settings/*
!/.config/vscode
!/.config/vscode/*
!/.config/vscode/snippets/*
!/.functions
!/.gitconfig
!/.gitignore
!/.gitmessage
!/.macos
!/.settings
!/.ssh
!/.ssh/config
!/.tmux.conf
!/.zplugins
!/.zsh
!/.zsh/**
!/.zshrc
!/code
!/code/work
!/code/work/.gitconfig
!/README.md
!/Brewfile
!/bootstrap.sh
